.faq-container {
    max-width: 800px;
    margin: 40px auto 40px auto;
    padding-top: 2rem;
    padding-left: 3.0rem;
    padding-right: 1.5rem;
    background-color: #f8f9fa;
    border: 6px solid #dee2e6;
    border-radius: 8px;
    border-color: #1e2125;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.faq-header {
    font-size: 3rem;
    margin: 2rem 0rem;
}

.faq{
    max-width: 700px;
    margin-top: 2rem;
    cursor: pointer;
    padding-top: 1rem;

}

.question{
    font-size: 4rem;
    margin: 2rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-out;
}

.answer p{
    padding-bottom: 1rem;
    font-size: 1rem;
}

.faq.active .answer {
    max-height: 300px;
    transition: max-height 1.5s ease-in;
}

