.dashboard-card-header {
    background-color: #fd6a35;
    border:none;
}
.dashboard-card-body {
    background-color: #fd6a35;
}
.dashboard-card-footer {
    background-color: #cd552c;
    color: white;
    display: flex;
    justify-content: center;
}

.dashboard-footer .view-button {
    background-color: #cd552c;
    color: white;
    display: flex;
    justify-content: center;
}

.view-card-h4 {
    font-size: 28px;
    font-weight: bold;
    color: white;
}
.view-card-h3 {
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.view-card-count {
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.view-icon {
    color: white;
    margin-left: auto;
    margin-top: -10px;
}

/* List Stylists */
.list-card-header {
    background-color: #ef8b37;
    border:none;
}
.list-card-body {
    background-color: #ef8b37;
}
.list-card-footer {
    background-color: #cc7a38;
    color: white;
    display: flex;
    justify-content: center;
}

.card-footer .list-button {
    background-color: #cc7a38;
    color: white;
    display: flex;
    justify-content: center; /* Center the content horizontally */
}
